<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LATEX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <style>
        .mytable{
            border: 1px solid black;
            width: 50%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <table class=".mytable">
                    <tr>
                        <h1>Add New Question</h1>
                        <form action="{% url 'add_question_detail' %}" method="POST">
                                <label>Add Body</label><input id="question_latex" onchange="change()" type="text" name="updatebody" value="{{question.latexbody}}" placeholder="Enter New Body"/><br><br>
                                <h4>Choice 1</h4>
                                <input onchange="change()" id="choicetext" type="text" name="choicetext" value="{{choice.choicetext}}" placeholder="Enter choice text"/>
                                <input onchange="change()" id="choicecorrect" type="text" name="choicecorrect" value="{{choice.flag}}" placeholder="Enter answer"/>
                                <input onchange="change()" id="choicepos" type="text" name="choicepos" value="{{choice.pos}}" placeholder="Enter position"/><br><br>
                                <h4>Choice 2</h4>
                                <input onchange="change()" id="choicetext" type="text" name="choicetext" value="{{choice.choicetext}}" placeholder="Enter choice text"/>
                                <input onchange="change()" id="choicecorrect" type="text" name="choicecorrect" value="{{choice.flag}}" placeholder="Enter answer"/>
                                <input onchange="change()" id="choicepos" type="text" name="choicepos" value="{{choice.pos}}" placeholder="Enter position"/><br><br>
                                <h4>Choice 3</h4>
                                <input onchange="change()" id="choicetext" type="text" name="choicetext" value="{{choice.choicetext}}" placeholder="Enter choice text"/>
                                <input onchange="change()" id="choicecorrect" type="text" name="choicecorrect" value="{{choice.flag}}" placeholder="Enter answer"/>
                                <input onchange="change()" id="choicepos" type="text" name="choicepos" value="{{choice.pos}}" placeholder="Enter position"/><br><br>
                                <h4>Choice 4</h4>
                                <input onchange="change()" id="choicetext" type="text" name="choicetext" value="{{choice.choicetext}}" placeholder="Enter choice text"/>
                                <input onchange="change()" id="choicecorrect" type="text" name="choicecorrect" value="{{choice.flag}}" placeholder="Enter answer"/>
                                <input onchange="change()" id="choicepos" type="text" name="choicepos" value="{{choice.pos}}" placeholder="Enter position"/><br><br>

                                <label>Add Topic</label><input id="addtopic" onchange="change()" type="text" name="addtopic" placeholder="Enter New Topic"/><br><br>
                                <label>Add Embed</label><input id="addembed" onchange="change()" type="text" name="addEmbed" placeholder="Enter New Embed"/><br><br>
                                <label>Add Date</label><input id="date" onchange="change()" type="text" name="addAskDate" value="{{question.date}}" placeholder="Enter New Date"/><br><br>
                                
                                <input type="submit">
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-6">
                {% if question_pdf %}
                        <div class="container">
                            {% load static %}
                            <embed id="newpdf" src = "{% static 'current_question.pdf' %}" width="500px" height="500px"/>
                        </div>
                        <div id="pdfRendered">

                        </div>
                {% endif %}
            </div>  

        </div>

    </div>

    <!-- <table class="mytable">
            <tr>
                <th style="border-right: 1px solid black; width: 7%;">
                    <h2>{{question.qid}}</h2>
                </th>
                <th>
                    <h3>{{question.latexbody}}</h3>
                </th>
                <th style="text-align:right; border-left: 1px solid black; width: 7%;">
                    <button onclick="question({{question.qid}})">
                        Change
                    </button>
                </th>
            </tr>
        </table> -->



</body>
