<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LATEX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <style>
        .mytable{
            border: 1px solid black;
            width: 50%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <table class=".mytable">
                    <tr>
                        <h1>Add New Question</h1>
                        <form action="{% url 'add_question_detail' %}" method="POST">
                                {% csrf_token %}
                                <label>Add Body</label><input id="question_latex" onchange="change()" type="text" name="addbody"  placeholder="Enter New Body"/><br><br>
                                <h4>Choice 1</h4>
                                <input onchange="change()" id="choicetext1" type="text" name="choicetext"  placeholder="Enter choice text"/>
                                <input onchange="change()" id="choicecorrect1" type="text" name="choicecorrect"  placeholder="Enter answer"/>
                                <input onchange="change()" id="choicepos1" type="text" name="choicepos"  placeholder="Enter position"/><br><br>
                                <input onchange="change()" id="choiceembed1" type="text" name="choiceembed"  placeholder="Enter embed"/><br><br>
                                <h4>Choice 2</h4>
                                <input onchange="change()" id="choicetext2" type="text" name="choicetext"  placeholder="Enter choice text"/>
                                <input onchange="change()" id="choicecorrect2" type="text" name="choicecorrect"  placeholder="Enter answer"/>
                                <input onchange="change()" id="choicepos2" type="text" name="choicepos"  placeholder="Enter position"/><br><br>
                                <input onchange="change()" id="choiceembed2" type="text" name="choiceembed"  placeholder="Enter embed"/><br><br>
                                <h4>Choice 3</h4>
                                <input onchange="change()" id="choicetext3" type="text" name="choicetext"  placeholder="Enter choice text"/>
                                <input onchange="change()" id="choicecorrect3" type="text" name="choicecorrect"  placeholder="Enter answer"/>
                                <input onchange="change()" id="choicepos3" type="text" name="choicepos"  placeholder="Enter position"/><br><br>
                                <input onchange="change()" id="choiceembed3" type="text" name="choiceembed"  placeholder="Enter embed"/><br><br>
                                <h4>Choice 4</h4>
                                <input onchange="change()" id="choicetext4" type="text" name="choicetext"  placeholder="Enter choice text"/>
                                <input onchange="change()" id="choicecorrect4" type="text" name="choicecorrect"  placeholder="Enter answer"/>
                                <input onchange="change()" id="choicepos4" type="text" name="choicepos"  placeholder="Enter position"/><br><br>
                                <input onchange="change()" id="choiceembed4" type="text" name="choiceembed"  placeholder="Enter embed"/><br><br>

                                <label>Add Topic</label><input id="addtopic" onchange="change()" type="text" name="addtopic" placeholder="Enter New Topic"/><br><br>
                                <label>Add Embed</label><input id="addembed" onchange="change()" type="text" name="addEmbed" placeholder="Enter New Embed"/><br><br>
                                <label>Add Date</label><input id="date" onchange="change()" type="text" name="addAskDate"  placeholder="Enter New Date"/><br><br>
                                <label>Add PARENT</label><input id="parent" onchange="change()" type="text" name="addParent" placeholder="Enter New Parent"/><br><br>

                                <input type="submit">
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-6">

                    <div id="pdfRendered">
                            <embed id="newpdf" src = "/static/current_question.pdf" width="500px" height="500px"/>

                        </div>  
            </div>  

        </div>

    </div>

    <script>
        function change(){
        $.ajax({
        url: '{% url "pdfcreate" %}',
        data: {
          'latex': $("#question_latex").val(),
          'addtopic': $("#addtopic").val(),
          'addembed': $("#addembed").val(),
          'parent': $("#parent").val(),
          'date': $("#date").val(),
          'text1': $("#choicetext1").val(),
          'pos1': $("#choicepos1").val(),
          'correct1': $("#choicecorrect1").val(),
          'text2': $("#choicetext2").val(),
          'pos2': $("#choicepos2").val(),
          'correct2': $("#choicecorrect2").val(),
          'text3': $("#choicetext3").val(),
          'pos3': $("#choicepos3").val(),
          'correct3': $("#choicecorrect3").val(),
          'text4': $("#choicetext4").val(),
          'pos4': $("#choicepos4").val(),
          'correct4': $("#choicecorrect4").val(),
          'embed1': $("#choiceembed1").val(),
          'embed2': $("#choiceembed2").val(),
          'embed3': $("#choiceembed3").val(),
          'embed4': $("#choiceembed4").val(),
          'pdf': "",
        },
        dataType: 'json',
        success: function (data) {
            var embed = "<embed id=" + '"newpdf"' + "src = " +'"/static/current_question.pdf"'+ " width=" + '"500px"' + " height=" + '"500px"' + "/>"
            console.log(embed)
            var pdf =  $('#pdfRendered');
            var embedelement = $(embed);
            console.log(pdf);
            console.log(embedelement);
            $('embed#newpdf').remove();
            pdf.append(embedelement);
        }
      });
        
    }
    
    </script>



</body>
