<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LATEX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <style>
        .mytable{
            border: 1px solid black;
            width: 80%;
        }
    </style>
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-4">
                    <button type="button" class="btn btn-lg btn-primary" onclick="addquestion()">ADD QUESTION</button>
                </div>
            <div class="col-4">
                <button type="button" class="btn btn-lg btn-primary"  onclick="qbank()">Qbank</button>
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-lg btn-primary"  onclick="exam()">Exam</button>
            </div>
        </div>
    </div>
    <br><br><br>    
    {% if questions %}
        <div class="container">

        
        {% for question in questions %}
            <table class="mytable">
                <tr>
                    <th style="border-right: 1px solid black; width: 7%;">
                        <h2>{{question.qid}}</h2>
                    </th>
                    <th>
                        <h3>{{question.latexbody}}</h3>
                    </th>
                    <th style="text-align:right; border-left: 1px solid black; width: 7%;">
                        <button type="button" class="btn btn-success"  onclick="question({{question.qid}})">
                            Change
                        </button>
                    </th>
                </tr>
            </table>
             
        {% endfor %}
        </div>
    {% endif %}
        
</body>

<script>
    function addquestion(){
        window.location = "/application/addquestion"
    }
    function question(questionid){
        window.location = "/application/question/" + questionid
    }
    function qbank(){
        window.location = "/application/qbank"
    }
    function exam(){
        window.location = "/application/exam"
    }
</script>
</html>