<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LATEX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <style>
        .mytable{
            border: 1px solid black;
            width: 50%;
        }
    </style>
</head>
<body>
    {% if question %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>{{question.latexbody}}</h1>
                <h4>Parent = {{question.parent}}</h4>
                <h4>Date = {{question.qdate}}</h4>
                {% if embeds %}
                    {% for embed in embeds %}
                        <h3>{{embed.filename}}</h3>
                    {% endfor %}
                {% endif %}
                {% if choices %}
                    {% for choice in choices %}
                    <h3>
                        <a>{{choice.choiceid}} </a><a>{{choice.choicetext}} </a><a>{{choice.flag}} </a><a>{{choice.pos}} </a>
                    </h3>
            
                    {% endfor %}
                {% endif %}
                {% if topics %}
                    {% for topic in topics %}
                        <h3>{{topic.topicname}}</h3>
                    {% endfor %}
                {% endif %}
                <form action="{% url 'question_detail' %}" method="POST">
                    {% csrf_token %}
                    <input id="question_id" type="text" name="question" hidden value = {{question.qid}}/>
                    <label>UPDATE BODY</label><input id="question_latex" onchange="change()" type="text" name="updatebody" value="{{question.latexbody}}" placeholder="Enter New Body"/><br><br>
                    <label>ADD TOPIC</label><input id="addtopic" onchange="change()" type="text" name="addtopic" placeholder="Enter New Topic"/><br><br>
                    <label>DELETE TOPIC</label><input id="deletetopic" onchange="change()" type="text" name="deltopic" placeholder="Topic to be deleted"/><br><br>
                    <label>ADD EMBED</label><input id="addembed" onchange="change()" type="text" name="addEmbed" placeholder="Enter New Embed"/><br><br>
                    <label>DELETE EMBED</label><input id="deleteembed" onchange="change()" type="text" name="delEmbed" placeholder="Embed to be deleted"/><br><br>
                    <label>UPDATE PARENT</label><input id="parent" onchange="change()" type="text" name="updateParent" value="{{question.parent}}" placeholder="Enter New Parent"/><br><br>
                    <label>UPDATE ASK DATE</label><input id="date" onchange="change()" type="text" name="updateAskDate" value="{{question.date}}" placeholder="Enter New Date"/><br><br>
                    {% if choices %}
                    <label>UPDATE CHOICE</label> <label>Yes</label><input type="radio" name="choiceyes"/> <label>No</label><input type="radio" name="choiceno"/><br><br>
                    
                    {% for choice in choices %}
                    <input onchange="change()" id="choice{{ forloop.counter }}" type="text" name="choiceid" value="{{choice.choiceid}}" disabled/>
                    <input onchange="change()" id="text{{ forloop.counter }}" type="text" name="choicetext" value="{{choice.choicetext}}"/>
                    <input onchange="change()" id="correct{{ forloop.counter }}" type="text" name="choicecorrect" value="{{choice.flag}}"/>
                    <input onchange="change()" id="pos{{ forloop.counter }}" type="text" name="choicepos" value="{{choice.pos}}"/><br><br>
                    {% endfor %}
                    {% endif %}
                    <label>DELETE THIS QUESTION</label> <label>Yes</label><input type="radio" name="deleteyes"/> <label>No</label><input type="radio" name="deleteno"/><br><br>
                    <input type="submit">
                </form>
                <h3>GETTERS</h3>
                <button onclick="getID()">Deneme</button>
                <button onclick="getLatex()">getLatex</button>
                <p style="width: 40%; height: 50px;" id="label"></p>
            </div>
            <div class="col-6">
                {% if question_pdf %}
                        <div class="container">
                            {% load static %}
                            <embed id="newpdf2" src = "{% static 'current_question.pdf' %}" width="500px" height="500px"/>
                        </div>
                        <div id="pdfRendered">
                            <embed id="newpdf" src = "{'localhost:8000/application/static/current_question.pdf'}" width="500px" height="500px"/>

                        </div>  
                {% endif %}
            </div>
        </div>
    </div>


{% else %}
    <h1>FAIL</h1>
{% endif %}

<script>
    function getID(){
        var q2 = document.getElementById("question_id")
        document.getElementById("label").innerHTML = q2.value.substring(0,q2.value.length-1)

    }
    function getLatex(){
        var latex = "{{getter_q|escapejs}}"
        document.getElementById("label").innerHTML = latex

    }

    function change(){
        console.log("Change e girdi")
        console.log($("#addtopic").val())
        console.log($("#deltopic").val())
        console.log($("#addembed").val())
        console.log($("#delembed").val())
        console.log($("#parent").val())
        console.log($("#date").val())
        console.log($("#choice1").val())

        $.ajax({
        url: '{% url "pdfcreate" %}',
        data: {
          'question_id': $("#question_id").val(),
          'latex': $("#question_latex").val(),
          'addtopic': $("#addtopic").val(),
          'deltopic': $("#deltopic").val(),
          'addembed': $("#addembed").val(),
          'delembed': $("#delembed").val(),
          'parent': $("#parent").val(),
          'date': $("#date").val(),
          'choice1': $("#choice1").val(),
          'text1': $("#text1").val(),
          'pos1': $("#pos1").val(),
          'correct1': $("#correct1").val(),
          'choice2': $("#choice2").val(),
          'text2': $("#text2").val(),
          'pos2': $("#pos2").val(),
          'correct2': $("#correct2").val(),
          'choice3': $("#choice3").val(),
          'text3': $("#text3").val(),
          'pos3': $("#pos3").val(),
          'correct3': $("#correct3").val(),
          'choice4': $("#choice4").val(),
          'text4': $("#text4").val(),
          'pos4': $("#pos4").val(),
          'correct4': $("#correct4").val(),
          'pdf': "",
        },
        dataType: 'json',
        success: function (data) {
            var embed = "<embed id=" + '"newpdf"' + "src = " +'"localhost:8000/application/static/current_question.pdf"'+ " width=" + '"500px"' + " height=" + '"500px"' + "/>"
            var pdf =  $('#pdfrendered');
            var embedelement = $('embed');
            console.log(pdf);
            console.log(embedelement);
            $('embed#newpdf').remove();
            pdf.append(embedelement);
        }
      });
        
    }


</script>


</body>